Repository food-truck/core-ng-project: changes, and which Azure pipelines are due for each by the changed paths.
All: .pipelines/backend/release-log-collector.yml, .pipelines/backend/release-log-exporter.yml, .pipelines/backend/release-log-processor.yml, .pipelines/backend/release-monitor.yml

.pipelines/backend/release-log-collector.yml:

trigger:
  batch: true
  branches:
    include:
      - develop
      - uat
      - main
  paths:
    include:
      - ext/log-collector

pr: none

extends:
  template: /.pipelines/template-backend-service-release.yml
  parameters:
    serviceName: log-collector

.pipelines/backend/release-log-exporter.yml:

trigger:
  batch: true
  branches:
    include:
      - develop
      - uat
      - main
  paths:
    include:
      - ext/log-exporter

pr: none

extends:
  template: /.pipelines/template-backend-service-release.yml
  parameters:
    serviceName: log-exporter

.pipelines/backend/release-log-processor.yml:

trigger:
  batch: true
  branches:
    include:
      - develop
      - uat
      - main
  paths:
    include:
      - ext/log-processor

pr: none

extends:
  template: /.pipelines/template-backend-service-release.yml
  parameters:
    serviceName: log-processor

.pipelines/backend/release-monitor.yml:

trigger:
  batch: true
  branches:
    include:
      - develop
      - uat
      - main
  paths:
    include:
      - ext/monitor

pr: none

extends:
  template: /.pipelines/template-backend-service-release.yml
  parameters:
    serviceName: monitor

AD-4903: Publish Migrate to ADO Pipeline
  ext/monitor/conf/dev/resources/sys.properties
  ext/monitor/conf/prod/resources/sys.properties
  ext/monitor/conf/uat/resources/sys.properties
Due: .pipelines/backend/release-monitor.yml

AD-4923: [PROD] Log Processor OOM Troubleshoot
  ext/log-processor/src/main/java/core/LogProcessorApp.java
  ext/log-processor/src/main/java/core/log/kafka/ActionLogMessageHandler.java
Due: .pipelines/backend/release-log-processor.yml

AD-4923: [PROD] Log Processor OOM Troubleshoot
  ext/log-processor/src/main/java/core/log/kafka/ActionLogMessageHandler.java
Due: .pipelines/backend/release-log-processor.yml

AD-4923: [PROD] Log Processor OOM Troubleshoot
  ext/build.gradle.kts
  ext/log-processor/src/main/java/core/LogProcessorApp.java
  ext/log-processor/src/main/java/core/log/kafka/ActionLogMessageHandler.java
Due: .pipelines/backend/release-log-processor.yml

AD-4923: [PROD] Log Processor OOM Troubleshoot
  ext/log-processor/src/main/java/core/LogProcessorApp.java
Due: .pipelines/backend/release-log-processor.yml

AD-4935: Implement repository.yaml Files
  repository.yaml
Due: none
